<div class="container">
    <div class="row">
        <div class="col-md-12">
            <app-alert *ngIf="visible" [priceChanged]="priceChanged" [vehicleModel]="vehicleModel"
                (visible)="onChangeView($event)"></app-alert>
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <div>
                <button class="btn btn-success" (click)="onNewVehicle()">Aggiungi Veicolo</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <br>
            <ul class="list-group">

                <li *ngFor="let vehicle of vehicles; let i = index" id="list" class="list-group-item clearfix">
                    <div class="row">
                        <div class="col-md-7">
                            <!--<a style="cursor: pointer;" [routerLink]="[i]" routerLinkActive="active"
                                class="list-group-item clearfix">-->
                            <div class="float-left">
                                <h4 class="list-group-item-heading">{{vehicle.model}}</h4>
                                <p class="list-group-item-text">Targa: {{vehicle.code}}</p>
                                <p class="list-group-item-text">Anno di Immatricolazione: {{vehicle.year}}</p>
                                <p class="list-group-item-text">Prezzo: {{vehicle.amount | currency: 'EUR'}}</p>
                                <p class="list-group-item-text">Data di inserimento:
                                    {{vehicle.date | date: 'longDate' }}
                                </p>
                                <button class="btn" aria-hidden="true" (click)="onUpdateVehicle(i)"><i
                                        class="fa fa-pencil"></i></button>
                                <button class="btn" aria-hidden="true" (click)="onDeleteVehicle(i)"><i
                                        class="fa fa-trash"></i></button>
                                <button class="btn" aria-hidden="true"><i class="fa fa-info"
                                        (click)="onOpenDetail(i)"></i></button>
                            </div>

                            <!--</a>-->
                        </div>
                        <div class="col-md-5">
                            <span class="float-right">
                                <a><img [src]="vehicle.imageUrl" id="img-list" alt="{{ vehicle.model }}"
                                        class="img-responsive" (click)="open(content, vehicle)">
                                </a>
                            </span>
                        </div>
                    </div>


                </li>
            </ul>
        </div>
        <br>
        <div class="col-md-5">
            <app-vehicles-edit *ngIf="edit" [index]="index" (vehicleEm)="addVehicle($event)"
                (model)="setChangedVehicle($event)" (price)="onShowChange($event)" (visible)="notChanged()">
            </app-vehicles-edit>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <app-vehicles-detail *ngIf="detail" [index]="index" (detail)="closeDetail($event)" >
            </app-vehicles-detail>
        </div>
    </div>


    <ng-template #content let-modal>
        <div class="modal-header">
            <h1 id="header-modal">{{model}}</h1>
            <button type="button" class="fa fa-window-close" aria-label="Close"
                (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body" id="modal-body">
            <div class="row">
                <div class="col-md-5">
                    <p class="list-group-item-text">Targa: {{code}}</p>
                    <p class="list-group-item-text">Anno di Immatricolazione: {{year}}</p>
                </div>
                <div class="col-md-7">
                    <span class="float-right">
                        <img [src]="imageUrl" id="img-modal" class="img-responsive">
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="list-group-item-text">Prezzo: {{amount | currency: 'EUR'}}</p>
                    <p class="list-group-item-text">Data di inserimento: {{date | date: 'longDate' }}</p>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
        </div>
    </ng-template>


</div>