#header {
    text-align: center;
}

.container {
    background-color: coral;
    border-radius: 4px;
}

#img-modal{
    width: 250px;
    padding-left: 20%;
    padding-bottom: 10px;
}

#body {
    padding-top: 50px;
}